@page
@model WebApp.Pages.Servicio.EditModel
@{ }
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdServicio" />

                <!-- Campos de texto -->
                <div class="form-group mb-3">
                    <label for="Entity.NombreServicio" class="form-label">Nombre del servicio</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreServicio" v-model="Entity.NombreServicio" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PlazoEntrega" class="form-label">Plazo de entrega</label>
                    <input type="number" class="form-control" asp-for="Entity.PlazoEntrega" v-model="Entity.PlazoEntrega" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CostoServicio" class="form-label">Costo del servicio</label>
                    <input type="number" class="form-control" asp-for="Entity.CostoServicio" v-model="Entity.CostoServicio" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Estado" class="form-label">Estado</label>
                    <input type="number" class="form-control" asp-for="Entity.Estado" v-model="Entity.Estado" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Cuenta Contable</label>
                    <input type="text" class="form-control" asp-for="Entity.CuentaContable" v-model="Entity.CuentaContable" maxlength="250" required>
                </div>

                <!-- boton -->
                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>

@section Scripts{

   <script defer src="~/App/Servicio/Edit.js"></script>
}


<!-- KEVIN SEGURA CALVO EXAMEN 2 UTC PROGRA 6 -->